<div id="<%= dom_id subcategory %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= subcategory.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= subcategory.category_id %>
  </p>

</div>
